<h1>Recipes</h1>

<a href="/recipes?sort=prep_time">Sort by Prep Time</a>
<a href="/recipes?sort=title">Sort by Title</a>

<ul>
  <% Category.all.each do |category| %>
    <li><%= link_to category.name, "/recipes?category=#{category.name}" %></li>
  <% end %>
</ul>

<div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/recipes/<%= recipe.id %>">
        <p><%= recipe.ingredients %></p>
        <p><%= recipe.directions %></p>
        <div>
          <img src="<%= recipe.image %>" width="200" height="200">
        </div>
      </a>
    </div>
  </div>
  <% end %>
</div>


